<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techpakka.whatsappstickerspack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".StickerUploaderActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".room.RoomActivity"></activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/noActionBar">
        </activity>
        <activity android:name=".ui.StickerPackDetailsActivity" />
        <activity android:name=".ui.HomeActivity" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <activity android:name=".whatsappbasecode.EntryActivity" />
        <activity android:name=".ui.PlaystoreActivity" />
        <activity android:name=".ui.notifications.StickerPackDownloadActivity" />

        <provider
            android:name=".whatsappbasecode.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

</manifest>